@import '~antd/dist/antd.css';

/* style={{ "textAlign": "center", "background": "#123456", "padding": "35px" */

.VideoFrame {
width: 100%;
background: #999999;
color: black;
height: 85vh;
postion: relative;
}

h1 {
  text-align: center;
}

.App {
  text-align: center;
}

.VideoDetail {
  display: flex;
  position: relative;
}

.SearchBar {
  text-align: center;
  background: black;
  padding: 35px;
  width: 400px;
}

.SearchButton {
  margin-left: 5px;
}

.Icon {
  size: large;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
